/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

/* Colors */
$primary-color: #f5f5f5;
$secondary-color: #ffffff;
$primary-shadow: rgba(0, 0, 0, 0.1);
$primary-bg-footer: #ffffff;

/* Buttons */
$btn-primary: #ffffff;
$btn-primary-hover: #ffffff;