html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Makes the wrapper full height */
}

.container {
    flex: 1; /* Takes up remaining space, pushing footer down */
}

main {
  padding-top: 1rem;
}

.sidebar {
  padding-top: 1rem;
}

  // h2 title anchor tag
  .entry-title a {
    text-decoration: none;
    color: inherit;
  }